*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f5f7fa;
}

/* NAVBAR */
header{
    display:flex;
    justify-content:space-between;
    padding:20px 80px;
    background:white;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#00a86b;
}

nav a{
    margin-left:30px;
    text-decoration:none;
    color:#333;
    font-weight:500;
}

/* HERO */
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:80px;
}

.content{
    width:50%;
}

.content h4{
    color:#00a86b;
}

.content h1{
    font-size:55px;
    margin:10px 0;
}

.content h3 span{
    color:#00a86b;
}

.content p{
    margin:20px 0;
    color:#666;
}

.social i{
    font-size:20px;
    margin-right:15px;
    color:#00a86b;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#00a86b;
    color:white;
    border-radius:25px;
    text-decoration:none;
}

.image-box img{
    width:350px;
}

/* SECTION */
.section{
    padding:60px 80px;
    background:white;
    margin-top:20px;
}

.section h2{
    color:#00a86b;
    margin-bottom:20px;
}

/* CGPA TABLE */
.cgpa-table{
    border-collapse:collapse;
    margin-top:15px;
}

.cgpa-table th, .cgpa-table td{
    border:1px solid #333;
    padding:10px 20px;
}

/* SKILLS */
.skills span{
    display:inline-block;
    background:#00a86b;
    color:white;
    padding:10px 15px;
    margin:5px;
    border-radius:20px;
}

/* PROJECTS */
.projects{
    display:flex;
    gap:20px;
}

.card{
    background:#f5f7fa;
    padding:20px;
    border-radius:10px;
    width:250px;
}

/* FOOTER */

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#00a86b;
    color:white;
}

#contact {
    text-align: center;
}

.contact-text {
    margin-top: 20px;
    line-height: 30px;
    font-size: 18px;
}
.cgpa-title{
    margin-top: 40px;
    color:#00a86b
}


